h2 What is throughExample.com?
p throughExample.com is a site where simple coding examples are posted in hopes that when people use search engines than can easily find a simple example that provides an answer to their query.  It is itself an example of a simple Node.js application and can be found here:

h2 Categories
a(href='/node') Node.JS
