body{
  font-family: Arial, Verdana, sans-serif;
  min-width:1020px;
  background-image: url('/img/bg.png');
}

div.center{
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

div.header{
  padding-top:30px;
}

h2{
  color:#FFFFFF;
}

p{
  color:#BBBBBB;
}
